body{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: 'Ubuntu', sans-serif;
  color:white;
  font-size: 22px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: arial;
  font-size: 25px;
  color:#FFFFFF;
}

h2 {
  color: white;
  text-align: center;
  font-size: 27px;
}

img {
  width:40%
}
*{
  margin:0;
  padding:0;
}

#container{
  display:grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: calc(15vh - 10px) calc(10vh - 10px) calc(20vh - 10px) calc(35vh - 10px) calc(15vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#container .logo{
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 1/2;
  grid-row: 1/2;
}

#container .bigfoto{
  padding: 9px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 4/5;
}
#container .bigfoto img{
height: 100%;
width: 100%;
}

#container .f{
  padding: 9px;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 4/5;
}
#container .f img{
height: 100%;
width: 100%;
}

#container .a{
  padding: 9px;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 5/6;
}

#container .a img{
height: 100%;
width: 100%;
}

#container .titulo{
  grid-column: 3/4;
  grid-row: 2/3;
}

#container .texto{
  padding: 9px;
  border-r<s</s>adius: 5px;
  grid-column: 2/5;
  grid-row: 3/4;
}

#container .copy{
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 5/6;
}


#container .nav{
  padding: 9px;
  border-radius: 5px;
  grid-column: 5/6;
  grid-row: 5/6;
}

#container .basic{
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 1/2;
}

#container .medio{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 2/3;
}

#container .tit{
  padding: 9px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 3/4;
}

#container .celda9{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 4/5;
}

#container .ultimo{
  padding: 9px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 5/6;
}

#container .info{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 5/6;
}
#container .info img{
height: 100%;
width: 100%;
