body {
  background-color: #a8a8a8;
  margin: 0;
  overflow-x: hidden;
}
.slider {
	width: 50%;
	margin: auto;
	overflow: hidden;
  position: right;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

.bg:hover {
  transition: 1.1;
}

.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}
1
2
.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

h1 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

p {
  font-family: arial;
  font-size: 25px;
  color: #FFFFFF;
}

h2 {
  color: white;
  font-size: 20px;
}



#container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: calc(15vh - 10px) calc(10vh - 10px) calc(20vh - 10px) calc(35vh - 10px) calc(15vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#container .header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: #111111;
  font-size: 20px;
  color: #FFFFFF;
  grid-column: 1/2;
  grid-row: 1/6;
}

#container .logo {
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 1/2;
  grid-row: 1/2;
}

#container .bigfoto {
  padding: 9px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 4/5;
}

#container .bigfoto img {
  height: 100%;
  width: 100%;
}

#container .f {
  padding: 9px;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 4/5;
}

#container .f img {
  height: 100%;
  width: 100%;
}

#container .av {
  padding: 9px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 5/6;
}

#container .av img {
  grid-column: 3/4;
  grid-row: 5/6;
  height: 100%;
  width: 100%;
}

#container .titulo {
  grid-column: 3/4;
  grid-row: 2/3;
}

#container .paginasss {
  padding: 9px;
  border-r<s</s>adius: 5px;
  grid-column: 5/6;
  grid-row: 5/6;
}

#container .copy {
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 5/6;
}

#container .nav {
  padding: 9px;
  border-radius: 5px;
  grid-column: 5/6;
  grid-row: 5/6;
}

#container .basic {
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 1/2;
}

#container .medio {
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 2/3;
}

#container .tit {
  padding: 9px;
  border-radius: 5px;
  border: 2px solid black;
  grid-column: 3/4;
  grid-row: 3/4;
}

#container .celda9 {
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 4/5;
}

#container .ultimo {
  padding: 9px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 6/6;
}

#container .info {
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 5/6;
}

#container .info img {
  height: 100%;
  width: 100%;
}

#container .lobby{
  padding: 9px;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 3/5;
}
